<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorate="~{layout/basic_layout}">
<head>
<!-- [[ START ]] CSS import -->
<th:block layout:replace="~{layout/common_fragments :: css-import}"></th:block>
<!-- [[  END  ]] CSS import -->
</head>
<body>
	<div layout:fragment="content" class="container-fluid">
		<div layout:replace="~{layout/web_elements_common_fragments :: content-header('Forms')}"></div>
		<div class="row">
			<form role="form" action="/view/zones" method="POST">
				<div class="form-group">
					현재 생성된 ZONE 목록 : 
					<div data-th-each="zone : ${list}">
						[[${zone.name}]]([[${zone.platform}]])
					</div>
				</div>
				<div class="form-group">
					Platform 선택 : 
					<input class="form-control" type="radio" name="platform" value="baremetal" />baremetal
					<input class="form-control" type="radio" name="platform" value="K8S" />K8S
					<input class="form-control" type="radio" name="platform" value="AWS" />AWS
				</div>
				<div class="form-group">
					ZONE 이름 : <input class="form-control" type="text" name="name" />
				</div>
				<div class="form-group">
					<input class="form-control" type="submit" value="ZONE 생성" />
				</div>
			</form>
		</div>
	</div>
</body>
</html>